<div class="row">
    <h3>Products page</h3>
    {{#each products}}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/details/{{this._id}}"><img src="{{this.imagePath}}" alt="{{this.title}}"></a>
            <div class="caption">
                <a href="/details/{{this._id}}">
                    <h3>{{this.title}}</h3>
                </a>
                <div class="clearfix">
                    <div class="price pull-left">
                        <strong>$ {{this.price}}</strong>
                    </div>
                    <div class="btns-group pull-right">

                        {{#if ../role }}
                        <a class="btn btn-warning" href="/edit/{{this._id}}">Edit</a>
                        <a class="btn btn-danger" href="/delete/{{this._id}}">Delete</a>
                        {{else }}
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-success" role="button">Buy</a>
                        {{/if}}



                    </div>


                </div>
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>