<div class="row">
    <h3>Products page</h3>
    {{#each products}}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/details/{{this._id}}"><img src="{{this.imagePath}}" alt="{{this.title}}"></a>
            <div class="caption">
                <a href="/details/{{this._id}}">
                    <h3>{{this.title}}</h3>
                </a>
                <div class="clearfix">
                    <div class="price pull-left">
                        <strong>$ {{this.price}}</strong>
                    </div>
                    {{#if ../role }}
                    <a href="/add-to-cart/delete/{{this._id}}">Delete</a>
                    <a href="/add-to-cart/edit/{{this._id}}">Edit</a>
                    {{/if}}

                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
                <h4></h4>
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>